# Workflow name
name: GitHub Pages

# master 接收到 push 事件时执行
on:
  push:
    branches:
      - main

# 定义 job 环境
permissions:
  contents: write

# 定义环境变量
env:
  PYTHON_VERSION: 3.x

# 定义 job 事件
jobs:
  docs:
    name: Deploy Documentation to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: Install Dependencies
        run: pip install --requirement=requirements.txt
      - name: Deploy Documentation to GitHub Pages
        run: mkdocs gh-deploy --force
